<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetXML</servlet-name>
        <servlet-class>servlet.GetXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailServlet</servlet-name>
        <servlet-class>servlet.DetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDetail</servlet-name>
        <servlet-class>servlet.GetDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetXML</servlet-name>
        <url-pattern>/GetXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailServlet</servlet-name>
        <url-pattern>/DetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDetail</servlet-name>
        <url-pattern>/GetDetail</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>
            IndexServlet
        </welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
